.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  .left {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
    }
    .name {
      margin-left: 8px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
    }
    .collapseIcon {
      margin-left: 16px;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 22px;

    .item {
      display: flex;
      align-items: center;
      margin-left: 24px;
    }
  }
}

.box {
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
