.titleWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coverImg {
  height: 200px;
  object-fit: contain;
}
.cardInfoWrap {
  margin-top: 12px;
  margin-left: 48px;
}

.appDesc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
